# Zoo Exchange white-label deployment
NEXT_PUBLIC_BRAND_NAME=Zoo Exchange
NEXT_PUBLIC_BRAND_TITLE=Zoo Exchange
NEXT_PUBLIC_BRAND_DESCRIPTION=Trade tokens on Zoo Network
NEXT_PUBLIC_BRAND_URL=https://zoo.exchange
NEXT_PUBLIC_BRAND_SITE_NAME=Zoo Exchange
NEXT_PUBLIC_BRAND_SHORT_NAME=Zoo
NEXT_PUBLIC_BRAND_AUTHOR=Zoo Labs Foundation
NEXT_PUBLIC_NETWORK_NAME=Zoo Network
NEXT_PUBLIC_COIN_NAME=ZOO
NEXT_PUBLIC_LOGO_URL=/tokens/zoo.svg
NEXT_PUBLIC_PRIMARY_COLOR=#10B981
NEXT_PUBLIC_TWITTER_HANDLE=@zoonetwork
NEXT_PUBLIC_API_ENDPOINT=https://api.zoo.network
