[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
evm_version = "shanghai"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
luxdev = "http://127.0.0.1:8545/ext/bc/C/rpc"
